version: "3.9"

services:
  app:
    build: .
    container_name: keith-brianborncamp
    ports:
      - "8100:8000"
    volumes:
      - app_data:/app/data
    restart: unless-stopped

volumes:
  app_data:
